* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: -1px -1px 1px #257985, 1px 1px 1px #5ea8a7;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus {
  outline: none;
}

.calculator {
  background-color: #257985;
  border-radius: 15px;
}

.key {
  border: 1px solid #257985;
  color: #16253d;
  background-color: #5ea8a7;
  outline: none;
}

.key:hover:enabled {
  color: #ffffff;
  opacity: 0.6;
  cursor: pointer;
}

.key:disabled {
  border: 1px solid #257985;
  color: #16253d;
  background-color: #5ea8a7;
  outline: none;
  opacity: 0.2;
}

.display {
  color: #16253d;
  background-color: #ffffff;
  border-radius: 10px;
  text-shadow: 1px 1px 1px #257985;
  opacity: 0.9;
}

.shadow {
  -moz-box-shadow: 1px 1px 10px 1px #000;
  -webkit-box-shadow: 1px 1px 10px 1px #000;
  box-shadow: 5px 8px 15px 1px #000;
}
